html, body {
  height: 100%;
  width: 100%;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border:2px solid black;
  border-radius:20px;
  cursor:pointer;
  background: skyblue;
}
.row{
  margin:8px 0;
}
.row input{ 
  width: 291px;
  font-size:20px;
  margin:0;
  padding:10px 0px;
  border:2px solid black;
  border-radius:px;
}
.btn{
   width: 140px;
  padding: 20px;
  margin: 10px 3px;
  border:2px solid black;
  border-radius:20px;
  cursor:pointer;
  background: skyblue;
}
.np{
  background: yellow;
}